
<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-note2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Document Type</h3>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6" id="pblCreateOrg">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Create a Document Type
                    </div>
                    <div class="panel-body">

                        <p>A document type is a data set.</p>

                        <form id="frmCreateOrg">
                            <div class="form-group">
                                <label for="exampleInputName">Document Type Name</label>
                                <input type="text" class="form-control" id="txtOrganisationName" placeholder="Name" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription"></textarea>
                            </div>
                            <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                            <button type="button" class="btn btn-default" id="btnCreate">Create</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnCreate").click(function () {
                $("#pblCreateOrg").addClass("ld-loading");
                var isValid = $("#frmCreateOrg").valid();
                if (isValid) {
                    var data = {
                        Name: $("#txtOrganisationName").val(),
                        Description: $("#txtDescription").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/AppModule/Create",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (d) {
                            $("#pblCreateOrg").removeClass("ld-loading");
                            if (d.IsSuccess == true) {
                                $("#frmCreateOrg")[0].reset();
                                toastr.success('Successfully created module!');
                            }
                            else {
                                toastr.warning('Error occured. ' + d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            $("#pblCreateOrg").removeClass("ld-loading");
                            // TODO: Show error
                        }
                    });
                }
            });
        });
    </script>
}