@model List<softblocks.data.Model.DocumentType>
@{
    Layout = null;
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:10px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var docTypes in Model)
            {
                <tr>
                    <td>@docTypes.Name</td>
                    <td>@docTypes.Name</td>
                    <td><a href=""><i class="fa fa-pencil"></i></a></td>
                    <td><a href=""><i class="fa fa-trash"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>


