@model softblocks.Models.ResRenderTabular
@{
    Layout = null;
}

@if (Model.DataView != null && Model.DocumentFields != null) { 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                @Model.DataView.Name
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            @if (Model.DataView.Tabular != null) {
                                if (Model.DataView.Tabular.Columns != null) {
                                    var sampleData = new List<string>();
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    @foreach (var field in Model.DataView.Tabular.Columns.OrderBy(n => n.Order))
                                                    {
                                                        if (Model.DocumentFields.Any(n => n.Id == field.FieldId))
                                                        {
                                                            sampleData.Add("sample data");
                                                            var documentField = Model.DocumentFields.FirstOrDefault(n => n.Id == field.FieldId);
                                                            <th>@documentField.Name</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @foreach (var sample in sampleData)
                                                    {
                                                        <td>@sample</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}