@model softblocks.data.Model.User

@if (Model != null)
{
    <div class="normalheader  small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Users</li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Profile
                </h2>
                <small>User Profile</small>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <a href="@Url.Action("Edit", "User", new { userId = Model.Id.ToString() })"><i class="fa fa-pencil"></i></a>
                        </div>
                        <img alt="logo" class="img-circle m-b m-t-md" src="~/Images/placeholder-user-photo.png" width="75">
                        <h3><a href="">@Model.FirstName @Model.LastName</a></h3>
                        <div class="text-muted font-bold m-b-xs">@Model.Email</div>
                    </div>

                    <div class="panel-body">

                    </div>

                </div>
            </div>

            <div class="col-lg-8">
                <div class="hpanel">
                    <div class="hpanel">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Details</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
}
