@model softblocks.data.Model.User

<div id="divData" data-organisation-id="@Model.CurrentOrganisation"></div>

<div class="content">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Welcome to SoftBlocks
            </h2>

            <p>
                Special <strong>Admin Theme</strong> for small, medium and large webapp with very clean and aesthetic style and feel.
            </p>
        </div>
    </div>
    <div class="row animate-panel" data-effect="fadeInDown" data-child="element">
        <div class="col-lg-3 element">
            <div class="hpanel">
                <div class="panel-body list">

                    <div class="pull-right">
                        <a href="#" class="btn btn-xs btn-default">Today</a>
                        <a href="#" class="btn btn-xs btn-default">Month</a>
                    </div>
                    <div class="panel-title">Last Activity</div>
                    <small class="fo">This is simple example</small>
                    <div class="list-item-container">
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-success">2,773</h3>
                            <small>Tota Messages Sent</small>
                            <div class="pull-right font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-color3">4,422</h3>
                            <small>Last activity</small>
                            <div class="pull-right font-bold">13% <i class="fa fa-level-down text-color3"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-color3">9,180</h3>
                            <small>Monthly income</small>
                            <div class="pull-right font-bold">22% <i class="fa fa-bolt text-color3"></i></div>
                        </div>
                        <div class="list-item">
                            <h3 class="no-margins font-extra-bold text-success">1,450</h3>
                            <small>Tota Messages Sent</small>
                            <div class="pull-right font-bold">44% <i class="fa fa-level-up text-success"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-5 element">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 09, 2015</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-success font-bold">Lorem ipsum</span>
                                    </td>
                                    <td>Jul 24, 2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 element">

            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Events
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="pnlTodayCalendar"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#pnlTodayCalendar').fullCalendar({
                "defaultView": "month",
                "height": 450,
                "events": [
                       {
                           title: 'event1',
                           start: '2017-11-20'
                       },
                       {
                           title: 'event2',
                           start: '2010-01-05',
                           end: '2010-01-07'
                       },
                       {
                           title: 'event3',
                           start: '2010-01-09T12:30:00',
                           allDay: false // will make the time show
                       }
                ]
            })

            var tour = new Tour({
                steps: [
                {
                    element: "#pnlOrgMenu",
                    title: "Welcome to Softblocks!",
                    content: "To be able to utilise Softblocks you need to be registered in an organisation. If you are the organisaiton administrator you can create an organisation by clicking Organisation > Add new organisation. Or if you wanted to join an existing organisation please contact your administrator."
                }
                ]
            });
            // Initialize the tour
            tour.init();
            // Start the tour

            setTimeout(function () {
                var orgId = $("#divData").data("organisation-id");
                if (isBlank(orgId)) {
                    tour.start();
                }
            }, 1000);

        });

    </script>
}
