@model softblocks.data.Model.User

<div id="divData" data-organisation-id="@Model.CurrentOrganisation"></div>

<div class="content">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Welcome to @ViewBag.OrganisationName
            </h2>

        </div>
    </div>
    <div class="row animate-panel" data-effect="fadeInDown" data-child="element">
        <div class="col-lg-8 element">
            <div id="pnlArticle"></div>
            @*<div style="border: 2px dashed silver;padding:10px;">
                <label>
                    Widget goes here
                </label>
            </div>*@
        </div>
        <div class="col-lg-4 element">

            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Events
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="pnlCalendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="pnlEventDetails" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="modalTitle">Event Details</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddEvent">
                    <input type="hidden" id="hdnType" />
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 b-r">
                            <strong>Title</strong>
                            <br>
                            <p class="text-muted" id="lblTitle"></p>
                        </div>
                        <div class="col-sm-3 col-xs-3 b-r">
                            <strong>Start</strong>
                            <br>
                            <p class="text-muted" id="lblStart"></p>
                        </div>
                        <div class="col-sm-3 col-xs-3 b-r">
                            <strong>End</strong>
                            <br>
                            <p class="text-muted" id="lblEnd"></p>
                        </div>
                        <div class="col-lg-12 col-md-12 b-r">
                            <strong>Details</strong>
                            <br>
                            <p class="text-muted" id="lblDetails"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @if (!string.IsNullOrEmpty(ViewBag.ArticleId))
    {
        <script type="text/javascript">
            $(function () {
                var LoadArticle = function () {
                    $('#pnlArticle').load('@Url.Action("RenderContent", "News", new { articleId = ViewBag.ArticleId })', function () {
                        $($("#pnlArticle").find("img")).addClass("img-responsive");
                        $($("#pnlArticle").find("iframe")).addClass("img-responsive");
                        $('#pnlArticle').slimScroll({
                            height: '600px'
                        });
                        RenderAndFormatDates();
                    });
                };

                LoadArticle();
            });
        </script>
    }
    <script type="text/javascript">
        $(function () {


            $('#pnlCalendar').fullCalendar({
                "defaultView": "month",
                "events": '@Url.Action("Events", "Calendar")',
                "timezone": "local",
                "height": 450,
                "eventClick": function (calEvent, jsEvent, view) {
                    $.ajax({
                        type: "GET",
                        url: "Calendar/Details?eventId=" + calEvent.id,
                        contentType: "application/json",
                        dataType: "json",
                        success: function (d) {
                            if (d.IsSuccess == true) {
                                var dateStart = new Date(parseInt(d.Result.StartDate.substr(6)));
                                var dateEnd = "";
                                var dateEndInt = parseInt(d.Result.EndDate.substr(6));
                                if (dateEndInt > 0) {
                                    dateEndDte = new Date(parseInt(d.Result.EndDate.substr(6)));
                                    dateEnd = moment(dateEndDte).format("DD MMM YYYY h:mm a")
                                }
                                $("#lblTitle").text(d.Result.Title);
                                $("#lblDetails").text(d.Result.Details);
                                $("#lblStart").text(moment(dateStart).format("DD MMM YYYY h:mm a"));
                                $("#lblEnd").text(dateEnd);
                                $("#pnlEventDetails").modal("show");
                            }
                            else {
                                alertError("Error!", d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alertError("Error!", "Error adding event");
                        }
                    });


                }
            });

            var tour = new Tour({
                steps: [
                {
                    element: "#pnlOrgMenu",
                    title: "Welcome to Softblocks!",
                    content: "To be able to utilise Softblocks you need to be registered in an organisation. If you are the organisaiton administrator you can create an organisation by clicking Organisation > Add new organisation. Or if you wanted to join an existing organisation please contact your administrator."
                }
                ]
            });
            // Initialize the tour
            tour.init();
            // Start the tour

            setTimeout(function () {
                var orgId = $("#divData").data("organisation-id");
                if (isBlank(orgId)) {
                    tour.start();
                }
            }, 1000);

        });

        </script>
    }
