@model List<softblocks.data.Model.News>

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <span>News</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                News
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <span class="pull-right">
                <a class="btn btn-success " href="@Url.Action("Create", "News")"><i class="fa fa-newspaper-o"></i> <span class="bold">Create an article</span></a>
            </span>
        </div>
    </div>

    @if (Model != null) { 
            foreach (var article in Model) { 
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="hpanel blog-box">
                        <div class="panel-heading">
                            <div class="media clearfix">
                                <a class="pull-left">
                                    <img src="/Images/a3.jpg" alt="profile-picture">
                                </a>
                                <div class="media-body">
                                    <small>Created by: <span class="font-bold">Mike Smith</span> </small>
                                    <br>
                                    <small class="text-muted">21.03.2015, 06:45 pm</small>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="/AppViews/BlogArticle"> <h4>Article about new design</h4></a>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum...
                            </p>
                            <p>
                                Praesent eget euismod nibh. Fusce ac tellus eu nisl lobortis maximus ac eget sapien. Nulla malesuada mauris non nulla imperdiet ullamcorper.
                            </p>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-right">
                                <i class="fa fa-comments-o"> </i> 22 comments
                            </span>
                            <i class="fa fa-eye"> </i> 142 views
                        </div>
                    </div>
                 </div>
            </div>
        }
    }
</div>
