@model softblocks.data.Model.News

@{
    Layout = null;
}

<div class="hpanel blog-box">
    <div class="panel-heading">
        <small>Created by: <span class="font-bold">@ViewBag.CreatedBy</span> </small>
        @if (Model.DatePublished != DateTime.MinValue) { 
            <br />
            <small><span class="font-bold"><span class="RenderDate" data-date="@Model.DatePublished" data-format="DD MMM YYYY h:mm a"></span> </span> </small>
        }
    </div>
    <div class="panel-body">
        <a href="/AppViews/BlogArticle"> <h4>@Model.Title</h4></a>
        @Html.Raw(Model.Article)
    </div>
    @*<div class="panel-footer">
        <span class="pull-right">
            <i class="fa fa-comments-o"> </i> 22 comments
        </span>
        <i class="fa fa-eye"> </i> 142 views
    </div>*@
</div>