

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/AppModule">Apps</a></li>
                    <li class="active">
                        <span>Create new app</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Create new app
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Create a new  app
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="frmCreateOrg">
                                <div class="form-group">
                                    <label for="exampleInputName">Module Name</label>
                                    <input type="text" class="form-control" id="txtOrganisationName" placeholder="Name" required="">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Description</label>
                                    <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription"></textarea>
                                </div>
                                <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                                <button type="button" class="btn btn-primary" id="btnCreate">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnCreate").click(function () {
                $("#pblCreateOrg").addClass("ld-loading");
                var isValid = $("#frmCreateOrg").valid();
                if (isValid) {
                    var data = {
                        Name: $("#txtOrganisationName").val(),
                        Description: $("#txtDescription").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/AppModule/Create",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (d) {
                            $("#pblCreateOrg").removeClass("ld-loading");
                            if (d.IsSuccess == true) {
                                $("#frmCreateOrg")[0].reset();
                                toastr.success('Successfully created module!');
                            }
                            else {
                                toastr.warning('Error occured. ' + d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            $("#pblCreateOrg").removeClass("ld-loading");
                            // TODO: Show error
                        }
                    });
                }
            });
        });
    </script>
}