

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Modules</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div id="pblCreateOrg">
    <div id="pnlModuleList"></div>

</div>



@section Scripts{
    <script type="text/javascript">
        $(function () {
            var LoadModuleList = function () {
                $("#pnlModuleList").addClass("ld-loading");
                $('#pnlModuleList').load('@Url.Action("ModuleList", "AppModule")', function () {
                    $("#pnlModuleList").removeClass("ld-loading");
                });
            }

            LoadModuleList();
        });
    </script>
}