

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Your Apps</a></li>
                    <li>
                        <span>Interface</span>
                    </li>
                    <li class="active">
                        <span>Loading buttons</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Your Apps
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <a href="/AppModule/Create" class="btn btn-primary pull-right">ADD NEW APP</a>
        </div>
    </div>
    <div class="row animate-panel" data-effect="fadeInDown" data-child="element">
        <div id="pblCreateOrg" class="element">
            <div id="pnlModuleList"></div>
        </div>
    </div>
</div>





@section Scripts{
    <script type="text/javascript">
        $(function () {
            var LoadModuleList = function () {
                //$("#pnlModuleList").addClass("ld-loading");
                $('#pnlModuleList').load('@Url.Action("ModuleList", "AppModule")', function () {
                    //$("#pnlModuleList").removeClass("ld-loading");
                });
            }

            LoadModuleList();
        });
    </script>
}