@model softblocks.data.Model.AppModule


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Module - @Model.Name</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pages
                <div class="panel-action">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                            <li role="presentation"><a data-toggle="modal" data-target="#pnlAddPage" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Page</a></li>
                        </ul>
                    </div>
                    @*<button type="button" class="btn btn-outline btn-success btn-xs waves-effect" data-toggle="modal" data-target="#pnlAddPage">Add Page</button>*@
                </div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="table-responsive">
                    <div id="pnlPages">                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="pnlAddPage" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Page</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddPage">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Title</label>
                        <input type="text" class="form-control" id="txtTitle" placeholder="Page Title" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-accent" id="btnAddPage">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            var LoadPages = function () {
                AddLoadingOverlay("#pnlPages");
                $('#pnlPages').load('@Url.Action("PageList", "AppModule", new { moduleId = Model.Id.ToString() })', function () {
                    RemoveLoadingOverlay("#pnlPages");
                });
            }
            LoadPages();
            $("#btnAddPage").click(function () {
                AddLoadingOverlay("#pnlPages");
                var isValid = $("#frmAddPage").valid();
                if (isValid) {
                    var data = {
                        ModuleId: '@Model.Id.ToString()',
                        Page: {
                            Name: $("#txtName").val(),
                            Title: $("#txtTitle").val(),
                            Description: $("#txtDescription").val()
                        }
                    }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddPage", "AppModule")",
                        contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        RemoveLoadingOverlay("#pnlPages");
                        if (d.IsSuccess == true) {
                            $("#frmAddPage")[0].reset();
                            $("#pnlAddPage").modal('toggle');
                            alertSuccess("Success", "Successfully created document type!");
                            LoadPages();
                            setTimeout(function () {
                                //document.location.href = "/DocumentTypes/Create/" + d.Result;
                            }, 1000);
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        RemoveLoadingOverlay("#pnlPages");
                        // TODO: Show error
                    }
                });
            }
            });
        });
    </script>
}