@model softblocks.Models.PageLogin

@using (Html.BeginForm("Validate", "Login", FormMethod.Post))
{

    <form class="form-horizontal form-material" id="loginform" action="index.html">
        <a href="javascript:void(0)" class="text-center db">
            <img src="../plugins/images/eliteadmin-logo-dark.png" alt="Home" />
            <br /><img src="../plugins/images/eliteadmin-text-dark.png" alt="Home" />
        </a>
        <div class="form-group m-t-40">
            <div class="col-xs-12">
                @Html.TextBoxFor(n => n.Username, new { @class = "form-control", placeholder = "Please enter you email", required = "" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox checkbox-primary pull-left p-t-0">
                    <input id="checkbox-signup" type="checkbox">
                    <label for="checkbox-signup"> Remember me </label>
                </div>
                <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
            </div>
        </div>
        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                <p>Don't have an account? <a href="/register" class="text-primary m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>
    </form>

}

